body {
    color:white;
    background:black;

}
header {
    border-bottom: solid 2px rgb(212, 137, 200);
    padding: 20px;
    font-size: 32px;
    color: rgb(201, 128, 185);
}

body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(206, 135, 178);
    padding: 20px;
    font-size: 32px;
    color: rgb(240, 240, 240);
}

.chamada {
    background: rgb(167, 96, 96);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

.chamada-texto {
    margin-right: 5%;
}
body {
    color: white;
    background: rgb(231, 152, 152);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  img {
    height: 200px;
  }


  .categoria-videos {
    display: flex;
    overflow-x: auto;
  }
/* código omitido */

.categoria-videos img:hover {
 


